body {
    background: #000;
}

#xd {
    width: 100%;

}

h1 {
    color: #CCCCCC;
    text-align: center;
}


p {
    color: #CCCCCC;
    text-align: center;
}


#a {
    color: #000;
    width: 100%;
}

#mid {
    text-align: center;
    padding-left: 770px
}

#mid2 {
    text-align: center;

}

#mid3 {
    text-align: center;
}

.resposta {
    padding: 30%;
    margin-left: 70px;
    color: azure;
}